@import '~scss/definitions';

$black: #000 !default;
$main-accent: #00f !default;
$accent-bg: #800080 !default;

.modal-mask {
  background: rgba(141, 150, 165, .71);
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em; // Adjusts for spacing
    vertical-align: middle;
  }
}

.wrapper {
  box-shadow: 0 7px 9px -4px rgba($black, .2), 0 14px 21px 2px rgba($black, .14), 0 5px 26px 4px rgba($black, .12);
  display: inline-block;
  position: relative;
  text-align: initial;
  vertical-align: middle;
}

.close-button {
  color: $main-accent;
  cursor: pointer;
  position: absolute;
  right: -5px;
  top: -5px;

  &:hover {
    color: $accent-bg;
  }
}
