<span class="ui-star-rating" #uiStarRating>
  <ng-template ngFor let-item [ngForOf]="options.slice().reverse()" let-idx="index">
    <input type="radio"
           [name]="name"
           [value]="idx"
           [checked]="this.value === (item.value || item)"
           [id]="(name + '-' + item.value)"
           (change)="handleChange($event)"
           [disabled]="readonly">
    <label [for]="(name + '-' + (item.value || item))"></label>
    <!-- (mouseenter)="uiStarRating.setAttribute('data-h-value', item.value);uiStarRating.setAttribute('data-h-label', item.label)" -->
  </ng-template>
</span>