<div *ngIf="!lmsConnectionEstablished">
  <span class="loading-text center-fix">{{spinnerText}}</span>
  <i class="main-spinner center-fix fa fa-spin fa-spinner"></i>
</div>

<div *ngIf="lmsConnectionEstablished" class="router-outlet">

  <p class="notice">
    If you have any trouble using the Language Repository tools embedded here, please contact:<br>
    <a href="mailto:sjwiles@stanford.edu">Simon Wiles &lt;sjwiles@stanford.edu&gt;</a>.
  </p>

  <div *ngIf="assignmentCompletionStatus"
       class="panel assignment-completion-status"
       [ngClass]="assignmentCompletionStatus.class">
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
    {{ assignmentCompletionStatus.content }}
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
  </div>

  <router-outlet></router-outlet>

  <p *ngIf="noPeerReview" class="no-peer-review">
    Peer-review for this assignment is not yet available (too few assignments have been submitted at this stage).
    Please check back later!
  </p>

  <div *ngIf="assignmentCompletionStatus"
       class="panel assignment-completion-status"
       [ngClass]="assignmentCompletionStatus.class">
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
    {{ assignmentCompletionStatus.content }}
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
  </div>

</div>

<ui-notifications [notificationsService]="notificationsService" [options]="{timeout: 5000, position: ['top', 'right']}"></ui-notifications>