<div *ngIf="!lmsConnectionEstablished">
  <span class="loading-text center-fix">{{spinnerText}}</span>
  <i class="main-spinner center-fix fa fa-spin fa-spinner"></i>
</div>

<div *ngIf="lmsConnectionEstablished" class="router-outlet">

  <div *ngIf="assignmentCompletionStatus"
       class="panel assignment-completion-status bounce"
       [ngClass]="assignmentCompletionStatus.class">
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
    <p [innerHtml]="assignmentCompletionStatus.content | uiSafe"></p>
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
  </div>

  <p *ngIf="notice" class="notice" [innerHTML]="notice"></p>

  <button class="button-style" *ngIf="curEvalSampleUuid" (click)="skipEvaluation()">Skip Evaluation</button>

  <router-outlet *ngIf="!hideRouter"></router-outlet>

  <div *ngIf="assignmentCompletionStatus && !hideRouter"
       class="panel assignment-completion-status bounce"
       [ngClass]="assignmentCompletionStatus.class">
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
    <p [innerHtml]="assignmentCompletionStatus.content | uiSafe"></p>
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
  </div>

</div>

<ui-notifications [notificationsService]="notificationsService"
                  [options]="{timeout: 5000, position: ['top', 'right']}">
</ui-notifications>
