<div *ngIf="!lmsConnectionEstablished">
  <span class="loading-text center-fix">{{spinnerText}}</span>
  <i class="main-spinner center-fix fa fa-spin fa-spinner"></i>
</div>

<div *ngIf="lmsConnectionEstablished" class="router-outlet">

  <div *ngIf="assignmentCompletionStatus"
       class="panel assignment-completion-status bounce"
       [ngClass]="assignmentCompletionStatus.class">
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
    <p [innerHtml]="assignmentCompletionStatus.content | uiSafe"></p>
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
  </div>

  <p *ngIf="notice" class="notice" [innerHTML]="notice"></p>

  <div class="skip-eval-button">
    <button #skipEvalBtn
            *ngIf="curEvalSampleUuid"
            class="button-style"
            (click)="skipEvaluation(skipEvalBtn)"
            uiTooltip="If you are unable to evaluate this submission
                       (e.g. it's in a language you don't read, or the submission is incomplete),
                       please click here and another submission will be assigned for you."
            uiTooltipPosition="left">
      <i class="fa fa-exclamation-circle"></i> Skip this Sample
    </button>
  </div>

  <router-outlet *ngIf="!hideRouter"></router-outlet>

  <div *ngIf="assignmentCompletionStatus && !hideRouter"
       class="panel assignment-completion-status bounce"
       [ngClass]="assignmentCompletionStatus.class">
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
    <p [innerHtml]="assignmentCompletionStatus.content | uiSafe"></p>
    <i class="fa fa-{{assignmentCompletionStatus.icon}}"></i>
  </div>

  <div class="bridge-reload-mask" *ngIf="busy">
    <i class="fa fa-spin fa-spinner"></i>
    <p>Selecting submission for peer-evaluation...</p>
  </div>
</div>

<ui-notifications [notificationsService]="notificationsService"
                  [options]="{timeout: 5000, position: ['top', 'right']}">
</ui-notifications>
