

  <div class="filters">
    <div class="g">
      <div class="u-1-3">
        <span class="accent">Participant Type:</span>
      </div>
      <div class="u-2-3">
        <ui-switch-toggle name="participant-type-filter" #ptypeFilter
                          [options]="[{label: 'Students', value: 'students'}, {label: 'Adults', value: 'adults'}]"
                          (change)="participantsListService.update()"
                          [(ngModel)]="filters.type">
        </ui-switch-toggle>
      </div>
    </div>

    <div class="g">
      <div class="u-1-3">
        <span class="accent">Show Participants:</span>
      </div>
      <div class="u-2-3">
        <ui-switch-toggle name="submitted-by-filter" #submittedByToggle
                          [options]="[{label: 'Mine', value: 'own'}, {label: 'Someone Else', value: 'other'}]"
                          (change)="getParticipants()"
                          value="own">
        </ui-switch-toggle>
      </div>
    </div>
    <div class="g submittedby-autocomplete-row" *ngIf="submittedByToggle.value === 'other'">
      <div class="u-1-3"></div>
      <div class="u-2-3">
        <ui-autocomplete #submittedByAutocomplete
                         [(ngModel)]="submittedByUser"
                         [getSuggestions]="getSuggestions.bind(this)"
                         prop="email"
                         styleClass="user-autocomplete"
                         inputStyleClass="text-style"
                         buttonStyleClass="text-style"
                         placeholder="search by email or name"
                         (onSelect)="getParticipants()">
        </ui-autocomplete>
      </div>
    </div>
    <div class="g">
      <div class="u-1-3">
        <span class="accent">Nickname:</span>
      </div>
      <div class="u-2-3">
        <input type="text"
               [(ngModel)]="participantsListService.searchTerm"
               uiTooltip="Filter by Nickname"
               (keyup.enter)="participantsListService.update()">
        <button class="button-style" (click)="participantsListService.update()">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </div>


  <ui-data-table #participantsTable
                 tableClass="participants-table"

                 [dataService]="participantsListService"

                 (reload)="participantsListService.reloadItems($event)"
                 [autoReload]="false"
                 [showReloading]="true"

                 [labels]="labels"

                 [header]="false"

                 [selectColumn]="true"
                 [selectOnRowClick]="true"
                 [multiSelect]="true"

                 [indexColumn]="false"
                 [indexColumnHeader]="'#'"

                 [substituteRows]="false"

                 [noItemsMsgHtml]="noItemsMsgHtml">

    <ui-data-table-column header="avatar"
                          property="avatar"
                          [sortable]="false">
      <ng-template #dataTableCell let-item="item"><img src="{{environment.mediaURL}}{{item.avatar}}" height="30px"></ng-template>
    </ui-data-table-column>

    <ui-data-table-column header="nickname"
                          property="nickname"
                          [sortable]="true">
    </ui-data-table-column>

    <ui-data-table-column header="gender"
                          property="gender"
                          [sortable]="true">
      <ng-template #dataTableCell let-item="item">{{genders[item.gender].label}}</ng-template>
    </ui-data-table-column>

    <ui-data-table-column header="#"
                          property="numSamples"
                          [sortable]="false">
      <ng-template #dataTableCell let-item="item">{{item.samples.length}}</ng-template>
    </ui-data-table-column>

    <ui-data-table-column header="last used"
                          property="date"
                          [sortable]="true">
      <ng-template #dataTableCell let-item="item">{{item.samples[0][1] | date}}</ng-template>
    </ui-data-table-column>

    <ui-data-table-column styleClass="column-preview"
                          [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <button class="text-style" (click)="showPreview($event, item)"><i class="fa fa-eye"></i></button>
      </ng-template>
    </ui-data-table-column>

  </ui-data-table>

  <ui-pagination *ngIf="participantsListService.itemCount > 0"
                 [dataService]="participantsListService"
                 paginationLimitLabel="Rows per page:"
                 [paginationLimitOptions]="[4, 10, 20]">
  </ui-pagination>

  <div class="actions">
    <button class="button-style"
            (click)="okayClicked(participantsTable.selectedRows)"
            [innerHtml]="okayButtonHtml | uiSafe">
    </button>
  </div>


<!--ui-overlay-panel #samplesPreviewPanel [dismissable]="true" [showCloseIcon]="true" styleClass="preview-panel" appendTo="body"-->
<ui-modal #samplesPreviewPanel [showCloseButton]="true" styleClass="preview-panel">
  <div>
    <lr-samples-carousel [noItemsMsgHtml]="noItemsMsgHtml"></lr-samples-carousel>
  </div>
</ui-modal>
<!--/ui-overlay-panel-->

