<div class="panel sample-entry" #sampleEntryContainer>

  <ui-switch-toggle #stepChooser
                    name="step-chooser"
                    [options]="[{label: 'About', value: 'about'}, {label: 'Participants', value: 'participants'}, {label: 'Conversation', value: 'conversation'}]"
                    [ngModel]="step"
                    (click)="doStepChange($event.target.control?.dataset.value)"
                    styleClass="step-chooser">
  </ui-switch-toggle>

  <div>

<!-- ################################################################################################################# -->

    <div *ngIf="step == 'about'"
         [@slideForwardBack]="stepDirection"
         (@slideForwardBack.start)="sampleEntryContainer.style.overflow = 'hidden'"
         (@slideForwardBack.done)="sampleEntryContainer.style.overflow = 'visible'">

      <div class="step-buttons">
        <button class="button-style" (click)="doStepChange('participants')">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>

      <form [formGroup]="aboutForm" novalidate>
      <div id="about" class="panel">
        <div class="input-field labelled">
          <textarea name="context" formControlName="context" rows="1"></textarea>
          <label for="context">
            Context
            <ui-help-button helpText="Describe the program, curriculum, lesson focus and/or sequence."
                            position="right"></ui-help-button>
          </label>
        </div>
        <div class="input-field labelled">
          <ui-select #subjectAreaSelect name="subjectArea"
                     name="subjectArea"
                     formControlName="subjectArea"
                     [options]="subjectAreas"
                     [multiple]="true"
                     placeholder="Please choose one or more subject areas"
                     [allowClear]="true">
          </ui-select>
          <label for="subject-area" [class.focussed]="subjectAreaSelect.hasFocus">
            Subject Area / Topic
            <ui-help-button helpText="Choose all that apply from the dropdown menu."
                            position="right"></ui-help-button>
          </label>
        </div>
        <div class="input-field labelled">
          <textarea name="objective" formControlName="objective" rows="1"></textarea>
          <label for="objective">
            Objective
            <ui-help-button helpText="Provide what the students were supposed to accomplish during this lesson, conversation or task."
                            position="right"></ui-help-button>
          </label>
        </div>
        <div class="input-field labelled">
          <textarea name="prompt" formControlName="prompt" rows="1"></textarea>
          <label for="prompt">
            Prompt
            <ui-help-button helpText="Provide the question(s) or instructions that the student(s) received right before the interaction or activity associated with the language artifact began."
                            position="right"></ui-help-button>
          </label>
        </div>

        <div class="language-usage add-multiple">
          <label [class.focussed]="isLanguageUsageFocussed()">
            Language(s) Used in the Interaction
          </label>
          <div class="buttons">
            <button class="button-style" (click)="addLanguageUsage()"><i class="fa fa-fw fa-plus"></i> Add Language</button>
          </div>
          <div>
            <div class="g lang-usage-row"
                 formArrayName="languagesUsed"
                 *ngFor="let langUsage of aboutForm.get('languagesUsed').controls; let i=index">
              <div class="u-1-24">
                <button class="text-style"
                        [disabled]="aboutForm.get('languagesUsed').controls.length <= 1"
                        (click)="aboutForm.get('languagesUsed').removeAt(i)">
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <div class="u-12-24 input-field" [formGroupName]="i">
                <ui-select #languageUsageSelect
                           name="sampleLanguages"
                           formControlName="language"
                           [options]="languageOptions"
                           [allowClear]="false">
                </ui-select>
              </div>
              <div class="u-11-24 language-usage-usage"
                   [formGroupName]="i"
                   [class.invalid]="!aboutForm.get('languagesUsed').controls[i].controls.usage.valid">
                <ui-range-slider #languageUsageRangeInput
                  [readonly]="aboutForm.get('languagesUsed').controls.length <= 1"
                  [options]="[
                    {label: 'Minimal', value: 'min'},
                    {label: 'Some', value: 'some'},
                    {label: 'Substantial', value: 'subst'},
                    {label: 'All', value: 'all'}
                  ]"
                  formControlName="usage">
                </ui-range-slider>
              </div>
            </div>
          </div>
        </div>

        <div class="supporting-files add-multiple">
          <label for="supporting-files">
            Stimulus Materials (max. 5 documents)
            <ui-help-button helpText="Upload up to five files used to stimulate the interaction or lesson."
                            position="right"></ui-help-button>
          </label>
          <div class="buttons">
            <button (click)="supportingFileInput.click()" class="button-style">
              <input #supportingFileInput type="file" multiple (change)="supportingFilesSelected(supportingFileInput.files)">
              <i aria-hidden="true" class="fa fa-fw fa-upload"></i> Choose File(s)
            </button>
            <button (click)="getSupportingFilesFromDropbox()" class="button-style dropbox">
              <i aria-hidden="true" class="fa fa-fw fa-dropbox"></i> Dropbox
            </button>
          </div>
          <div>
            <div class="g" formArrayName="supportingFiles" *ngFor="let supportingFile of aboutForm.get('supportingFiles').controls; let i=index">
              <div class="u-1-24 remove">
                <button (click)="aboutForm.get('supportingFiles').removeAt(i)" class="text-style"><i class="fa fa-close"></i></button>
              </div>
              <div class="u-5-24 filename" [formGroupName]="i">
                <span [attr.data-tooltip]="aboutForm.get('supportingFiles').controls[i].controls.name.value">
                  {{aboutForm.get('supportingFiles').controls[i].controls.name.value}}
                </span>
              </div>
              <div class="u-18-24 input-field" [formGroupName]="i">
                <input formControlName="title" placeholder="Please enter a short title/description for this file...">
              </div>
            </div>
            <div class="g no-supporting-files" *ngIf="!aboutForm.get('supportingFiles').controls.length"><div class="u-1">[no files attached]</div></div>
          </div>
        </div>

      </div>
      </form>

      <div class="step-buttons">
        <button class="button-style" (click)="doStepChange('participants')">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>

    </div>

<!-- ################################################################################################################# -->

    <div *ngIf="step == 'participants'"
         [@slideForwardBack]="stepDirection"
         (@slideForwardBack.start)="sampleEntryContainer.style.overflow = 'hidden'"
         (@slideForwardBack.done)="sampleEntryContainer.style.overflow = 'visible'">

      <div class="step-buttons">
        <button class="button-style" (click)="doStepChange('about')"><i class="fa fa-arrow-circle-left"></i> Previous</button>
        <button class="button-style" (click)="doStepChange('conversation')">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>

      <form [formGroup]="participantsForm" novalidate>
      <div class="panel">
        <table class="participants-table">
          <thead>
            <th class="remove"></th>
            <th class="avatar">avatar</th>
            <th class="nickname">nickname</th>
            <th>gender</th>
            <th class="languages">language(s)</th>
            <th class="grade-level">grade level</th>
          </thead>

          <tbody formArrayName="students">
            <tr>
              <td class="alert" [class.hidden]="participantsForm.get('students').controls.length >= 2" colspan="6">Please enter at least 2 students.</td>
            </tr>
            <tr *ngFor="let student of participantsForm.get('students').controls; let i=index">
              <td class="remove">
                <button class="text-style" (click)="participantsForm.get('students').removeAt(i)">
                  <i class="fa fa-close"></i>
                </button>
              </td>
              <td class="avatar">
                <img src="{{environment.mediaURL}}{{student.controls.avatar.value}}" height="60px" alt="Avatar for {{student.nickname}}">
              </td>
              <td class="input-field nickname" [formGroupName]="i">
                <input formControlName="nickname" placeholder="Choose a nickname">
                <!--div class="alert alert-danger">Name is required</div-->
              </td>
              <td class="input-field" [formGroupName]="i">
                <select formControlName="gender">
                  <option *ngFor="let gender of genders"
                          [value]="gender.value">{{gender.label}}</option>
                </select>
              </td>
              <td class="input-field languages" [formGroupName]="i">
                <ui-select placeholder="Select One or More Languages..."
                           #selectComponent
                           formControlName="languageKeys"
                           [options]="langKnowns"
                           [multiple]="true"
                           (selected)="newLanguageSkill($event.value, student, selectComponent)">

                  <ng-template #pillTemplate let-selection="selection">
                    <li *ngFor="let option of selection"
                        [class.valid]="languageSkillIsValid(student, option.value)"
                        [uiTooltip]="(languageSkillIsValid(student, option.value)) ? 'Click to show.' : 'Please click to complete.'"
                        uiTooltipPosition="top"
                        class="select2-selection__choice"
                        title="{{option.label}}"
                        [attr.data-value]="option.value"
                        (click)="editLanguageSkill($event, option, student)">
                      <span class="select2-selection__choice__remove"
                            [attr.data-value]="option.value"
                            (click)="clearParticipantLanguage($event, student)">
                          ×
                      </span>
                      {{option.label}}
                    </li>
                  </ng-template>

                </ui-select>
              </td>
              <td class="input-field" [formGroupName]="i">
                <select formControlName="gradeLevel">
                  <option *ngFor="let gradeLevel of gradeLevels"
                          [value]="gradeLevel.value">{{gradeLevel.label}}</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="actions">
          <button class="button-style" (click)="this.addStudentParticipant($event)">
            <i class="fa fa-plus"></i> Add a new student participant
          </button>
          <!--button class="button-style" (click)="this.lookupParticipants($event, 'students')">
            <i class="fa fa-search"></i> Lookup a student participant
          </button-->
        </div>

        <hr>

        <table class="participants-table adult-participants">
          <thead>
            <th class="remove"></th>
            <th class="avatar">avatar</th>
            <th class="nickname">nickname</th>
            <th class="gender">gender</th>
            <th class="is-submitter">
              is submitter
              <ui-help-button helpText="Is this participant the submitter of the sample (i.e. you!)?"
                              position="top"></ui-help-button>
            </th>
            <th class="is-teacher">
              is teacher
              <ui-help-button helpText="Is this participant the teacher of the class?"
                              position="top"></ui-help-button>
            </th>
          </thead>
          <tbody>
            <tr formArrayName="adults" *ngFor="let adult of participantsForm.get('adults').controls; let i=index">
              <td class="remove">
                <button class="text-style" (click)="participantsForm.get('adults').removeAt(i)">
                  <i class="fa fa-close"></i>
                </button>
              </td>
              <td class="avatar">
                <img src="{{environment.mediaURL}}{{adult.controls.avatar.value}}" height="60px" alt="Avatar for {{adult.controls.nickname.value}}">
              </td>
              <td class="nickname input-field" [formGroupName]="i">
                <input formControlName="nickname" placeholder="Choose a nickname">
                <!--div class="alert alert-danger">Name is required</div-->
              </td>
              <td class="gender input-field" [formGroupName]="i">
                <select formControlName="gender">
                  <option *ngFor="let gender of genders"
                          [value]="gender.value">{{gender.label}}</option>
                </select>
              </td>
              <td [formGroupName]="i">
                <ui-switch-toggle name="{{'is-submitter-' + i}}"
                  [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}]"
                  formControlName="isSubmitter">
                </ui-switch-toggle>
              </td>
              <td [formGroupName]="i">
                <ui-switch-toggle name="{{'is-teacher-' + i}}"
                  [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}]"
                  formControlName="isTeacher">
                </ui-switch-toggle>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="actions">
          <button class="button-style" (click)="this.addAdultParticipant($event)">
            <i class="fa fa-plus"></i> Add a new adult participant
          </button>
          <!--button class="button-style" (click)="this.lookupParticipants($event, 'adults')">
            <i class="fa fa-search"></i> Lookup a adult participant
          </button-->
        </div>

      </div>
      </form>

      <div class="step-buttons">
        <button class="button-style" (click)="doStepChange('about')"><i class="fa fa-arrow-circle-left"></i> Previous</button>
        <button class="button-style" (click)="doStepChange('conversation')">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>

    </div>

<!-- ################################################################################################################# -->

    <div *ngIf="step == 'conversation'"
         [@slideForwardBack]="stepDirection"
         (@slideForwardBack.start)="sampleEntryContainer.style.overflow = 'hidden'"
         (@slideForwardBack.done)="sampleEntryContainer.style.overflow = 'visible'">

      <div class="step-buttons">
        <button class="button-style" (click)="doStepChange('participants')"><i class="fa fa-arrow-circle-left"></i> Previous</button>
        <button class="button-style" (click)="saveSample()">Finish <i class="fa fa-floppy-o"></i></button>
      </div>

      <div class="panel" [formGroup]="conversationForm">

        <div class="recording-upload" [formGroup]="conversationForm.controls.recording">
           <div>
            <div *ngIf="!conversationForm.controls.recording.controls.file.controls.name.value" class="no-audio-available">
              <label for="no-audio-available">
                <input name="no-audio-available" type="checkbox" formControlName="noAudioAvailable">
                {{ (conversationForm.controls.recording.controls.noAudioAvailable.value) ?
                    'Please provide a brief explanation of why no audio file is available:' :
                    'Please upload a file, or check here if one is not available.' }}
                <ui-help-button helpText="Please supply an audio file if at all possible."
                                position="top"></ui-help-button>
              </label>
            </div>
            <div class="input-field">
              <textarea *ngIf="conversationForm.controls.recording.controls.noAudioAvailable.value"
                        formControlName="noAudioExplanation"></textarea>
            </div>
            <div *ngIf="conversationForm.controls.recording.controls.file.controls.name.value" class="recording">
              <button (click)="clearRecording()" class="text-style" data-tooltip="Clear Selection">
                <i class="fa fa-close"></i>
              </button>
              <span class="recording-title">{{conversationForm.controls.recording.controls.file.controls.name.value}}</span>
              <img *ngIf="!conversationForm.controls.recording.controls.file.controls.url.value" alt="loading..." src="data:image/gif;base64,R0lGODlhgAAPAPEAAIwVFd27u////wAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQFCgAAACwAAAAAgAAPAAACo4wfoIC33NKKUtF3Z8RbN/55CEiNonMaJGp1bfiaMQvBtXzTpZuradUDZmY+opA3DK6KwaQTCbU9pVHc1LrDUrfarq765Ya9u+VRzLyO12lwG10yy39zY11Jz9t/6jf5/HfXB8hGWKaHt6eYyDgo6BaH6CgJ+QhnmWWoiVnI6ddJmbkZGkgKujhplNpYafr5OooqGst66Uq7OpjbKmvbW/p7UAAAIfkEBQoAAQAsAAAAAAcADwAAAgiEj6nL7Q+jLAAh+QQFCgABACwLAAAABwAPAAACCISPqcvtD6MsACH5BAUKAAEALBYAAAAHAA8AAAIIhI+py+0PoywAIfkEBQoAAQAsIQAAAAcADwAAAgiEj6nL7Q+jLAAh+QQFCgABACwsAAAABwAPAAACCISPqcvtD6MsACH5BAUKAAEALDcAAAAHAA8AAAIIhI+py+0PoywAIfkEBQoAAQAsQgAAAAcADwAAAgiEj6nL7Q+jLAAh+QQFCgABACxNAAAABwAPAAACCISPqcvtD6MsACH5BAUKAAEALFgAAAAHAA8AAAIIhI+py+0PoywAIfkEBQoAAQAsYwAAAAcADwAAAgiEj6nL7Q+jLAAh+QQFCgABACxuAAAABwAPAAACCISPqcvtD6MsACH5BAUKAAEALHkAAAAHAA8AAAIIhI+py+0PoywAOw">
              <audio *ngIf="conversationForm.controls.recording.controls.file.controls.url.value" [src]="conversationForm.controls.recording.controls.file.controls.url.value | uiSafe: 'url'" controls></audio>
            </div>
            <div *ngIf="conversationForm.controls.recording.controls.file.controls.name.value">
              <input name="includes-additional-context" type="checkbox" formControlName="includesAdditionalContext">
              <label for="includes-additional-context">
                Check here if the audio recording includes material that goes beyond what is transcribed below
              </label>
            </div>
          </div>
          <div class="buttons" *ngIf="!conversationForm.controls.recording.controls.noAudioAvailable.value">
            <button (click)="fileInput.click()" class="button-style">
              <input #fileInput type="file" (change)="recordingSelected($event)">
              Choose File
            </button>
            <button (click)="getRecordingFromDropbox()" class="button-style dropbox"><i aria-hidden="true" class="fa fa-dropbox"></i> Dropbox</button>
          </div>
        </div>

        <table class="transcription">
          <thead>
            <th class="remove-turn"></th>
            <th class="turn-num">#</th>
            <th class="speaker">Speaker</th>
            <th class="turn">Turn</th>
          </thead>
          <tbody>
            <tr formArrayName="turns" *ngFor="let turn of conversationForm.get('turns').controls; let i=index">
              <td>
                <button class="text-style"
                        tabindex="-1"
                        [disabled]="conversationForm.get('turns').controls.length <= 1"
                        (click)="conversationForm.get('turns').removeAt(i)">
                  <i class="fa fa-close"></i>
                </button>
              </td>
              <td>{{i + 1}}</td>
              <td class="input-field" [formGroupName]="i">
                <select formControlName="speaker" class="turn-participant">
                  <option *ngFor="let student of participantsForm.get('students').controls"
                          [value]="student.controls.uuid.value">{{student.controls.nickname.value}}</option>
                  <option *ngFor="let adult of participantsForm.get('adults').controls"
                          [value]="adult.controls.uuid.value">{{adult.controls.nickname.value}}</option>
                </select>
              </td>
              <td class="input-field" [formGroupName]="i">
                <ui-turn-editor formControlName="content" placeholder="turn..."></ui-turn-editor>
                <!--div class="alert alert-danger">Turn is required</div-->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="few-turns" [style.display]="(submitAttempted && conversationForm.get('turns').controls.length < 17) ? 'block' : 'none'">
          <p>You must submit at least 4 turns.  Please try to collect and transcribe at least 16 turns if possible.</p>
          <label for="few-turns">
            <input name="few-turns" type="checkbox" formControlName="fewTurns">
            I am unable to submit 16 or more turns.
          </label>
        </div>
      </div>

      <div class="step-buttons">
        <button class="button-style" (click)="doStepChange('participants')"><i class="fa fa-arrow-circle-left"></i> Previous</button>
        <button class="button-style" (click)="saveSample()">Finish <i class="fa fa-floppy-o"></i></button>
      </div>

    </div>

  </div>

  <div class="reload-mask" *ngIf="busy">
    <i class="fa fa-spin fa-spinner"></i>
  </div>

  <ui-collapsible *ngIf="!environment.production" header="aboutForm" [shown]="false">
    <pre>{{aboutForm.value | json}}</pre>
  </ui-collapsible>

  <ui-collapsible *ngIf="!environment.production" header="participantsForm" [shown]="false">
    <pre>{{participantsForm.value | json}}</pre>
  </ui-collapsible>

  <ui-collapsible *ngIf="!environment.production" header="conversationForm" [shown]="false">
    <pre>{{conversationForm.value | json}}</pre>
  </ui-collapsible>

</div>

<!-- ################################################################################################################# -->

<ui-overlay-panel #languageSkillPanel [dismissable]="true" [showCloseIcon]="true" styleClass="language-skill-panel" (onBeforeHide)="linguagramComponentRef.destroy();">
  <ng-template #linguagramComponentContainer></ng-template>
</ui-overlay-panel>

<!-- ################################################################################################################# -->

<ui-modal #participantLookupPanel [showCloseButton]="true" styleClass="participant-lookup-panel" (onAfterDisplay)="participantLookup.getParticipants()">
  <lr-participant-lookup #participantLookup (onOkayClicked)="addLookedUpParticipants($event)"></lr-participant-lookup>
</ui-modal>
