<div class="panel sample-entry" #sampleEntryContainer>

  <ui-switch-toggle name="step-chooser"
                    [options]="[{label: 'About', value: 'about'}, {label: 'Participants', value: 'participants'}, {label: 'Transcription', value: 'transcription'}]"
                    [(ngModel)]="step">
  </ui-switch-toggle>

<!-- ################################################################################################################# -->

  <div>

    <div *ngIf="step == 'about'"
         [@slideForwardBack]="stepDirection"
         (@slideForwardBack.start)="sampleEntryContainer.style.overflow = 'hidden'"
         (@slideForwardBack.done)="sampleEntryContainer.style.overflow = 'visible'">

      <h3>About the sample</h3>
      <div class="step-buttons">
        <button class="button-style" (click)="step = 'participants'">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>
      <div id="about" class="panel">
        <div class="input-field labelled">
          <textarea name="context" [(ngModel)]="sample.context" rows="1"></textarea>
          <label for="context">Context <a id="info-context" class="help-icon"><i class="fa fa-info-circle"></i></a></label>
        </div>
        <div class="input-field labelled">
          <ui-select #subjectAreaSelect name="subjectArea" required
                     [(ngModel)]="sample.subjectArea"
                     [options]="subjectAreas"
                     [multiple]="true"
                     placeholder="Please choose one or more subject areas"
                     [allowClear]="true">
          </ui-select>
          <label for="subject-area" [class.focussed]="subjectAreaSelect.hasFocus">
            Subject Area / Topic <a id="info-subject-area" class="help-icon"><i class="fa fa-info-circle"></i></a>
          </label>
        </div>
        <div class="input-field labelled">
          <textarea name="objective" [(ngModel)]="sample.objective" rows="1"></textarea>
          <label for="objective">Objective <a id="info-objective" class="help-icon"><i class="fa fa-info-circle"></i></a></label>
        </div>
        <div class="input-field labelled">
          <textarea name="prompt" [(ngModel)]="sample.prompt" rows="1"></textarea>
          <label for="prompt">Prompt <a id="info-prompt" class="help-icon"><i class="fa fa-info-circle"></i></a></label>
        </div>
        <div class="g language-usage">
          <div class="u-5-24">
            <label [class.focussed]="isLanguageUsageFocussed()">
              Language(s) Used
              <a id="info-language-usage"><i class="fa fa-info-circle"></i></a>
            </label>
            <button class="button-style" (click)="addLanguageUsage()"><i class="fa fa-plus"></i> Add Language</button>
          </div>
          <div class="u-19-24">
            <div class="g lang-usage-row" *ngFor="let langUsage of sample.languagesUsed; let i=index">
              <div class="u-1-24">
                <button class="text-style"
                        [disabled]="sample.languagesUsed.length <= 1"
                        (click)="removeLanguageUsage(langUsage)">
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <div class="u-12-24">
                <ui-select #languageUsageSelect
                           name="sampleLanguages" required
                           [(ngModel)]="langUsage.lang"
                           [options]="languageOptions"
                           [allowClear]="false">
                </ui-select>
              </div>
              <div class="u-11-24 language-usage-usage" [class.invalid]="!langUsage.usage">
                <ui-range-slider #languageUsageRangeInput
                  [disabled]="sample.languagesUsed.length <= 1"
                  [options]="[
                    {label: 'Minimal', value: 'min'},
                    {label: 'Some', value: 'some'},
                    {label: 'Substantial', value: 'subst'},
                    {label: 'All', value: 'all'}
                  ]"
                  [(ngModel)]="langUsage.usage">
                </ui-range-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- ################################################################################################################# -->

    <div *ngIf="step == 'participants'"
         [@slideForwardBack]="stepDirection"
         (@slideForwardBack.start)="sampleEntryContainer.style.overflow = 'hidden'"
         (@slideForwardBack.done)="sampleEntryContainer.style.overflow = 'visible'">

      <h3>Participants</h3>
      <div class="step-buttons">
        <button class="button-style" (click)="step = 'about'"><i class="fa fa-arrow-circle-left"></i> Previous</button>
        <button class="button-style" (click)="step = 'transcription'">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>
      <div class="panel">
        <form #participantsForm="ngForm">
          <table class="participants-table">
            <thead>
              <th></th>
              <th>avatar</th>
              <th>nickname</th>
              <th>gender</th>
              <th>language(s)</th>
              <th>grade level</th>
            </thead>
            <tbody>
              <tr #participantRow *ngFor="let participant of sample.students; let i=index">
                <td class="remove">
                  <button class="text-style" (click)="sample.students = removeValue(sample.students, participant)">
                    <i class="fa fa-close"></i>
                  </button>
                </td>
                <td class="avatar"><img src="{{environment.mediaURL}}{{participant.avatar}}" height="60px"></td>
                <td class="input-field nickname">
                  <input [(ngModel)]="participant.nickname" placeholder="Choose a nickname" required name="nickname{{i}}">
                  <div class="alert alert-danger">Name is required</div>
                </td>
                <td class="input-field">
                  <select [(ngModel)]="participant.gender" name="gender{{i}}" required>
                    <option *ngFor="let gender of genders"
                            [value]="gender.value">{{gender.label}}</option>
                  </select>
                </td>
                <td class="languages">
                  <ui-select name="languages{{i}}" required
                             placeholder="Select One or More Languages..."
                             #selectComponent
                             [(ngModel)]="participant.languageKeys"
                             [options]="langKnowns"
                             [multiple]="true"
                             (selected)="newLanguageSkill($event, participant, selectComponent)">

                    <ng-template #pillTemplate let-selection="selection">
                      <li *ngFor="let option of selection"
                          [uiTooltip]="(participant.languageSkillIsValid(option.value)) ? 'Click to show the LanguageSkill!' : 'Please click to complete the LanguageSkill!'"
                          uiTooltipPosition="top"
                          class="select2-selection__choice"
                          [class.valid]="participant.languageSkillIsValid(option.value)"
                          title="{{option.label}}"
                          [attr.data-value]="option.value"
                          (click)="editLanguageSkill($event, option, participant)">
                        <span class="select2-selection__choice__remove"
                              [attr.data-value]="option.value"
                              (click)="clearParticipantLanguage($event, participant)">
                            ×
                        </span>
                        {{option.label}}
                      </li>
                    </ng-template>

                  </ui-select>
                </td>
                <td class="input-field">
                  <select [(ngModel)]="participant.gradeLevel" name="gradeLevel{{i}}" required>
                    <option *ngFor="let gradeLevel of gradeLevels"
                            [value]="gradeLevel.value">{{gradeLevel.label}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <div class="actions">
          <button class="button-style" (click)="this.addStudentParticipant($event)">
            <i class="fa fa-plus"></i> Add a new student participant
          </button>
          <button class="button-style" (click)="this.lookupParticipants($event, 'students')">
            <i class="fa fa-search"></i> Lookup a student participant
          </button>
        </div>

        <hr>

        <form #adultParticipantsForm="ngForm">
          <table class="participants-table adult-participants">
            <thead>
              <th class="remove"></th>
              <th class="avatar">avatar</th>
              <th class="nickname">nickname</th>
              <th class="gender">gender</th>
              <th class="is-submitter">is-submitter</th>
              <th class="is-teacher">is-teacher</th>
            </thead>
            <tbody>
              <tr #participantRow *ngFor="let adult of sample.adults; let i=index">
                <td class="remove">
                  <button class="text-style" (click)="sample.adults = removeValue(sample.adults, adult)">
                    <i class="fa fa-close"></i>
                  </button>
                </td>
                <td class="avatar"><img src="{{environment.mediaURL}}{{adult.avatar}}" height="60px"></td>
                <td class="nickname input-field">
                  <input [(ngModel)]="adult.nickname" placeholder="Choose a nickname" required name="nickname{{i}}">
                  <div class="alert alert-danger">Name is required</div>
                </td>
                <td class="gender input-field">
                  <select [(ngModel)]="adult.gender" name="gender{{i}}" required>
                    <option *ngFor="let gender of genders"
                            [value]="gender.value">{{gender.label}}</option>
                  </select>
                </td>
                <td>
                  <ui-switch-toggle name="{{'is-submitter-' + i}}"
                    [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}]"
                    [(ngModel)]="adult.isSubmitter">
                  </ui-switch-toggle>
                </td>
                <td>
                  <ui-switch-toggle name="{{'is-teacher-' + i}}"
                    [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}]"
                    [(ngModel)]="adult.isTeacher">
                  </ui-switch-toggle>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <div class="actions">
          <button class="button-style" (click)="this.addAdultParticipant($event)">
            <i class="fa fa-plus"></i> Add a new adult participant
          </button>
          <button class="button-style" (click)="this.lookupParticipants($event, 'adults')">
            <i class="fa fa-search"></i> Lookup a adult participant
          </button>
        </div>

      </div>
    </div>

<!-- ################################################################################################################# -->

    <div *ngIf="step == 'transcription'"
         [@slideForwardBack]="stepDirection"
         (@slideForwardBack.start)="sampleEntryContainer.style.overflow = 'hidden'"
         (@slideForwardBack.done)="sampleEntryContainer.style.overflow = 'visible'">

      <h3>Language Sample</h3>
      <div class="step-buttons">
        <button class="button-style" (click)="step = 'participants'"><i class="fa fa-arrow-circle-left"></i> Previous</button>
        <button class="button-style" (click)="saveSample()">Finish <i class="fa fa-floppy-o"></i></button>
      </div>

      <div class="panel">
        <div class="file-upload">
          <div>
            <button (click)="clearRecording()" class="text-style" [disabled]="!recordingName"><i class="fa fa-close"></i></button>
          </div>
          <div>
            <span>{{getRecordingName()}}</span>
            <audio *ngIf="recordingUrl" [src]="recordingUrl | uiSafe: 'url'" controls></audio>
          </div>
          <div>
            <button (click)="fileInput.click()" class="button-style larger">
              <input #fileInput type="file" (change)="readUrl($event)">
              Choose File
            </button>
            <button (click)="getFromDropbox()" class="button-style larger dropbox"><i aria-hidden="true" class="fa fa-dropbox"></i> Dropbox</button>
          </div>
        </div>

        <table class="transcription">
          <thead>
            <th class="remove-turn"></th>
            <th class="turn-num">#</th>
            <th class="speaker">Speaker</th>
            <th class="turn">Turn</th>
          </thead>
          <tbody>
            <tr *ngFor="let turn of sample.turns; let i=index">
              <td>
                <button (click)="sample.turns = removeValue(sample.turns, turn)" class="text-style" [disabled]="sample.turns.length <= 1">
                  <i class="fa fa-close"></i>
                </button>
              </td>
              <td>{{i + 1}}</td>
              <td class="input-field">
                <select [(ngModel)]="turn.speaker" (change)="addTurn($event)" class="turn-participant">
                  <option *ngFor="let participant of sample.students"
                          [value]="participant.uuid">{{participant.nickname}}</option>
                  <option *ngFor="let participant of sample.adults"
                          [value]="participant.uuid">{{participant.nickname}}</option>
                </select>
              </td>
              <td class="input-field">
                <input [(ngModel)]="turn.content" placeholder="turn..." required (change)="addTurn($event)">
                <div class="alert alert-danger">Turn is required</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <ui-collapsible header="diagnostic" [shown]="false">
    <pre>{{sample | json}}</pre>
  </ui-collapsible>

</div>

<!-- ################################################################################################################# -->

<ui-overlay-panel #languageSkillPanel [dismissable]="true" [showCloseIcon]="true" styleClass="language-skill-panel">
  <p *ngIf="languageSkill">
    Please indicate your evaluation of
    {{(selectedParticipant?.nickname) ? selectedParticipant?.nickname : 'this student'}}'s
    <span class="accent">{{languages[languageSkill.language].label}}</span>:
  </p>
  <table class="language-skill">
    <tr>
      <th [class.active]="languageSkill.speakingProficiency" uiTooltip="Required" uiTooltipPosition="left">
        Speaking <i class="fa" [ngClass]="{'fa-check-circle': languageSkill.speakingProficiency, 'fa-exclamation-circle': !languageSkill.speakingProficiency}"></i>
      </th>
      <td>
        <ui-range-slider [(ngModel)]="languageSkill.speakingProficiency"
                         [options]="[
                           {label: 'One', value: 1},
                           {label: 'Two', value: 2},
                           {label: 'Three', value: 3},
                           {label: 'Four', value: 4},
                           {label: 'Five', value: 5}
                         ]">
        </ui-range-slider>
      </td>
      <td>
        <button class="text-style"
                [disabled]="!languageSkill.speakingProficiency"
                (click)="languageSkill.speakingProficiency = null">
          <i class="fa fa-close"></i>
        </button>
      </td>
    </tr>
    <tr>
      <th [class.active]="languageSkill.listeningProficiency" uiTooltip="Required" uiTooltipPosition="left">
        Listening <i class="fa" [ngClass]="{'fa-check-circle': languageSkill.listeningProficiency, 'fa-exclamation-circle': !languageSkill.listeningProficiency}"></i>
      </th>
      <td>
        <ui-range-slider [(ngModel)]="languageSkill.listeningProficiency"
                         [options]="[
                           {label: 'One', value: 1},
                           {label: 'Two', value: 2},
                           {label: 'Three', value: 3},
                           {label: 'Four', value: 4},
                           {label: 'Five', value: 5}
                         ]">
        </ui-range-slider>
      </td>
      <td>
        <button class="text-style"
                [disabled]="!languageSkill.listeningProficiency"
                (click)="languageSkill.listeningProficiency = null">
          <i class="fa fa-close"></i>
        </button>
      </td>
    </tr>
    <tr>
      <th [class.active]="languageSkill.readingProficiency">Reading</th>
      <td>
        <ui-range-slider [(ngModel)]="languageSkill.readingProficiency"
                         [options]="[
                           {label: 'One', value: 1},
                           {label: 'Two', value: 2},
                           {label: 'Three', value: 3},
                           {label: 'Four', value: 4},
                           {label: 'Five', value: 5}
                         ]">
        </ui-range-slider>
      </td>
      <td>
        <button class="text-style"
                [disabled]="!languageSkill.readingProficiency"
                (click)="languageSkill.readingProficiency = null">
          <i class="fa fa-close"></i>
        </button>
      </td>
    </tr>
    <tr>
      <th [class.active]="languageSkill.writingProficiency">Writing</th>
      <td>
        <ui-range-slider [(ngModel)]="languageSkill.writingProficiency"
                         [options]="[
                           {label: 'One', value: 1},
                           {label: 'Two', value: 2},
                           {label: 'Three', value: 3},
                           {label: 'Four', value: 4},
                           {label: 'Five', value: 5}
                         ]">
        </ui-range-slider>
      </td>
      <td>
        <button class="text-style"
                [disabled]="!languageSkill.writingProficiency"
                (click)="languageSkill.writingProficiency = null">
          <i class="fa fa-close"></i>
        </button>
      </td>
    </tr>
  </table>

  <div class="g toggle-container">
    <div class="u-2-3">
      {{languages[languageSkill.language].label}} is a
      <span class="accent" uiTooltip="[Guidance on what we mean by “primary language” goes here]"><i class="fa fa-home"></i> Primary Langauge</span>?
    </div>
    <div class="u-1-3">
      <ui-switch-toggle name="primary-language"
                        [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}, {label: '??', value: null}]"
                        [(ngModel)]="languageSkill.isPrimaryLanguage">
      </ui-switch-toggle>
    </div>
  </div>
  <div class="toggle-container">
    <div class="g">
      <div class="u-2-3">
        {{(selectedParticipant?.nickname) ? selectedParticipant?.nickname : 'This student'}} is a {{languages[languageSkill.language].label}}
        <span class="accent" uiTooltip="[Guidance on what we mean by “learner” goes here]"><i class="fa fa-mortar-board"></i> Learner</span>?
      </div>
      <div class="u-1-3">
        <ui-switch-toggle name="is-learner"
                          [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}, {label: '??', value: null}]"
                          [(ngModel)]="languageSkill.participantIsLearner">
        </ui-switch-toggle>
      </div>
    </div>

    <div *ngIf="languageSkill.participantIsLearner === true && languageSkill.language === 'eng'" class="standards">
      <p>Please add one (or more) Standardized Test score(s), if available.</p>

      <div>
        <button class="button-style" (click)="addLanguageStandard(languageSkill)"><i class="fa fa-plus"></i> Add a Score</button>
        <div>
          <div *ngFor="let standard of languageSkill.assessedLevel">
            <div class="input-field">
              <select required [(ngModel)]="standard.standard">
                <option value="" disabled selected >standard...</option>
                <option value="access">ACCESS/WIDA</option>
                <option value="azella">AZELLA</option>
                <option value="celdt">CELDT</option>
                <option value="cella">CELLA</option>
                <option value="elpa21">ELPA21</option>
                <option value="las">LAS</option>
                <option value="nyseslat">NYSESLAT</option>
                <option value="selp">SELP</option>
                <option value="telpas">TELPAS</option>
              </select>
            </div>
            <div class="input-field">
              <select required [(ngModel)]="standard.level" placeholder="level">
                <option value="" disabled selected>level...</option>
                <option *ngFor="let level of languageStandardLevels[standard.standard]"
                        [value]="level">{{level}}</option>
              </select>
            </div>
            <button class="text-style" (click)="removeLanguageStandard($event, languageSkill, standard)"><i class="fa fa-close"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>

</ui-overlay-panel>

<!-- ################################################################################################################# -->

<ui-modal #participantLookupPanel [showCloseButton]="true" styleClass="participant-lookup-panel" (onAfterDisplay)="participantLookup.getParticipants()">
  <lr-participant-lookup #participantLookup (onOkayClicked)="addLookedUpParticipants($event)"></lr-participant-lookup>
</ui-modal>
