<div *ngIf="!sample" class="sample-view" [ngClass]="panelClass">
  <p>
    The requested sample cannot be found and/or is unavailable.  <!--Would you like to <a [routerLink]="['/samples']">Browse the Samples</a>? -->
  </p>
  <p>
    If you have reached this page in error, please contact <a target="_top" href="mailto:sjwiles@stanford.edu?subject=Missing Sample [{{sampleUuid}}]">
    Simon &lt;sjwiles@stanford.edu&gt;</a>, and I will resolve the problem for you.  Thanks!
  </p>
</div>
<div *ngIf="sample" class="sample-view" [ngClass]="panelClass">

  <div class="top">
    <div>
      <a class="sample-permalink"
         target="top"
         href="{{environment.baseURL}}sample/{{sample.uuid}}"
         uiTooltip="Direct Link to this Sample"
         uiTooltipPosition="right"><i class="fa fa-link"></i></a>
      <p class="submission-details">Submitted on <span>{{sample?.submittedAt | date}}</span></p>
    </div>
    <div class="recording">
      <span *ngIf="!sample.recording.recordingFile">[no audio recording available]</span>
      <audio *ngIf="sample.recording.recordingFile" [src]="sample.recording.recordingFile | uiSafe: 'url'" controls></audio>
      <br>
      <span *ngIf="sample.recording.includesAdditionalContext">* This recording includes additional context beyond what is transcribed below</span>
    </div>
  </div>

  <ui-collapsible header="<h2>Context</h2>" [shown]="true">
    <table class="context">
      <tr>
        <th>Context</th><td>{{sample?.context}}</td>
      </tr>
      <tr>
        <th>Subject Area</th>
        <td>
          <ul class="pills">
            <li *ngFor="let subjectArea of sample.subjectArea">{{subjectAreas[subjectArea].label}}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Objective</th><td>{{sample?.objective}}</td>
      </tr>
      <tr>
        <th>Prompt</th><td>{{sample?.prompt}}</td>
      </tr>
      <tr>
        <th>Languages</th>
        <td>
          <ul>
            <li *ngFor="let lang of sample.languagesUsed" class="value-stud">
              {{languages[lang.language].label}}
            </li>
          </ul>
        </td>
      </tr>
      <tr class="supporting-files">
        <th>Stimulus Materials</th>
        <td>
          <ul>
            <li *ngFor="let supportingFile of sample.supportingFiles">
              <a href="{{supportingFile.file}}" target="new">{{supportingFile.title}}</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </ui-collapsible>

  <ui-collapsible header="<h2>Participants</h2>" [shown]="true">
    <table class="participants">
      <tr *ngFor="let participant of sample?.students" (mouseenter)="highlightParticipant(participant.uuid)" (mouseleave)="removeHighlight()">
        <td><img src="{{environment.mediaURL}}{{participant.avatar}}" height="45px" alt="Avatar for {{participant.nickname}}"></td>
        <td>{{participant.nickname}}</td>
        <td><span class="value-stud"><i class="fa fa-venus-mars"></i> {{gender[participant.gender].label}}</span></td>
        <td>{{gradeLevels[participant.gradeLevel]}}</td>
        <td>
          Speaker of
          <ul class="participant-languages">
            <li *ngFor="let lang of participant.languageSkills" class="value-stud">
              <i *ngIf="lang.isPrimaryLanguage" class="fa fa-home" uiTooltip="{{languages[lang.language].label}} is a primary language of {{participant.nickname}}."></i>
              <i *ngIf="lang.participantIsLearner" class="fa fa-mortar-board" uiTooltip="{{participant.nickname}} is a learner of {{languages[lang.language].label}}."></i>
              <i *ngIf="lang.assessedLevel.length" class="fa fa-bar-chart" uiTooltip="{{renderAssessedLevel(lang.assessedLevel)}}."></i>
              {{languages[lang.language].label}}
            </li>
          </ul>
        </td>
      </tr>
      <tr *ngFor="let participant of sample?.adults" (mouseenter)="highlightParticipant(participant.uuid)" (mouseleave)="removeHighlight()">
        <td><img src="{{environment.mediaURL}}{{participant.avatar}}" height="45px" alt="Avatar for {{participant.nickname}}"></td>
        <td>{{participant.nickname}}</td>
        <td><span class="value-stud"><i class="fa fa-venus-mars"></i> {{gender[participant.gender].label}}</span></td>
      </tr>
    </table>
  </ui-collapsible>

  <hr>
  <ui-collapsible header="<h2>Transcription</h2>" [shown]="true">
    <div [innerHtml]="renderedTranscription"></div>
  </ui-collapsible>

  <hr *ngIf="showEvaluations">
  <h2 *ngIf="showEvaluations">Evaluations</h2>
  <lr-evaluation-browser *ngIf="showEvaluations" [sampleUuid]="sample.uuid"></lr-evaluation-browser>
</div>