<header class="page-header cf">

  <div class="logosearch-logo"><img src="assets/img/logo_120x82.png" alt="LogoSearch"></div>
  <div class="header-bar">
    <h1><a href="{{environment.baseURL}}">LogoSearch</a></h1>
    <a href="http://ell.stanford.edu/" class="ulo-logo">
      <img src="assets/img/UL_GSE.191x55.png" alt="Understanding Language Online">
    </a>

    <nav>
      <ul>
        <li [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">
          <i class="fa fa-home"></i> Home
        </a></li>
        <li [routerLinkActive]="['selected']"><a [routerLink]="['/about']">
          <i class="fa fa-info-circle"></i> About
        </a></li>
        <li [routerLinkActive]="['selected']" *ngIf="authService.isLoggedIn || router.url === '/samples'"><a [routerLink]="['/samples']">
          <i class="fa fa-comments"></i> Browse Samples
        </a></li>
        <!--li [routerLinkActive]="['selected']" *ngIf="authService.isLoggedIn"><a [routerLink]="['/my-samples']">
          <i class="fa fa-user-plus"></i> My Samples
        </a></li-->
        <li [routerLinkActive]="['selected']" *ngIf="authService.isLoggedIn || router.url === '/sample-entry'"><a [routerLink]="['/sample-entry']">
          <i class="fa fa-cloud-upload"></i> Submit a Sample
        </a></li>
      </ul>
    </nav>

    <div class="login-status">
      <a *ngIf="!authService.isLoggedIn" [routerLink]="['/login']">
        <i class="fa fa-sign-in"></i> Login
      </a>
      <span *ngIf="authService.isLoggedIn">
        <i class="fa fa-user"></i> {{authService.loggedInUser.displayAs()}}
      </span>

      <a *ngIf="authService.isLoggedIn" (click)="authService.logout()">
        <i class="fa fa-sign-out"></i> Logout
      </a>

    </div>
  </div>
</header>

<article class="page-content">
  <router-outlet></router-outlet>
</article>

<footer>
  <div class="footer-wrap ui-helper-clearfix">
    <div id="bottom-logo">
      <a href="http://www.stanford.edu" style="border: medium none;">
        <img src="assets/img/SUSig_Stack.113x50.png" alt="Stanford University">
      </a>
    </div>
    <div id="bottom-menu">
      <ul>
        <li class="home"><a href="http://www.stanford.edu">SU Home</a></li>
        <li class="maps alt"><a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a></li>
        <li class="search-stanford"><a href="http://www.stanford.edu/search/">Search Stanford</a></li>
        <li class="terms alt"><a href="http://www.stanford.edu/site/terms.html">Terms of Use</a></li>
        <li class="emergency-info"><a href="http://emergency.stanford.edu">Emergency Info</a></li>
      </ul>
    </div>
    <div id="copyright">
      <p class="vcard">© <span class="fn org">Stanford University</span>,
        <span class="adr">
          <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>.&nbsp;&nbsp;
        <span id="copyright-complaint">
          <a href="http://www.stanford.edu/group/security/dmca.html" class="copyright-complaint">Copyright Complaints</a>
        </span>
      </p>
    </div>
  </div>
</footer>

<ui-notifications [notificationsService]="notificationsService" [options]="{timeout: 5000, position: ['top', 'right']}"></ui-notifications>
