// Inspired by: https://ghinda.net/css-toggle-switch/
.switch-toggle {
  display: block;
  overflow: hidden;
  position: relative;

  a {
    @include transition(all .2s ease-out);
    display: block;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: 1;
  }

  input {
    left: 0;
    opacity: 0;
    position: absolute;

    + label {
      display: block;
      float: left;
      margin: 0;
      padding: 0 .5em;
      position: relative;
      text-align: center;
      z-index: 2;
    }
  }

  // 2 items
  label:nth-child(2):nth-last-child(4),
  label:nth-child(2):nth-last-child(4) ~ label,
  label:nth-child(2):nth-last-child(4) ~ a {
    width: 50%;
  }

  label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
    left: 50%;
  }

  // 3 items
  label:nth-child(2):nth-last-child(6),
  label:nth-child(2):nth-last-child(6) ~ label,
  label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%;
  }

  label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
    left: 33.33%;
  }

  label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
    left: 66.66%;
  }

  // 4 items
  label:nth-child(2):nth-last-child(8),
  label:nth-child(2):nth-last-child(8) ~ label,
  label:nth-child(2):nth-last-child(8) ~ a {
    width: 25%;
  }

  label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
    left: 25%;
  }

  label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
    left: 50%;
  }

  label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
    left: 75%;
  }

  // 5 items
  label:nth-child(2):nth-last-child(10),
  label:nth-child(2):nth-last-child(10) ~ label,
  label:nth-child(2):nth-last-child(10) ~ a {
    width: 20%;
  }

  label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
    left: 20%;
  }

  label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
    left: 40%;
  }

  label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
    left: 60%;
  }

  label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
    left: 80%;
  }

  // 6 items
  label:nth-child(2):nth-last-child(12),
  label:nth-child(2):nth-last-child(12) ~ label,
  label:nth-child(2):nth-last-child(12) ~ a {
    width: 16.6%;
  }

  label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
    left: 16.6%;
  }

  label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
    left: 33.2%;
  }

  label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
    left: 49.8%;
  }

  label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
    left: 66.4%;
  }

  label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
    left: 83%;
  }


}


////////////////////

.switch-toggle {
  background-color: $white;
  border: 1px solid $accent-bg;
  border-radius: 2px;
  box-shadow: $button-shadow;

  label {
    color: $main-accent;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }

  input:checked + label {
    color: $white;
    text-shadow: none;
  }

  a {
    background-color: $accent-bg;
    background-image: linear-gradient(to bottom, rgba($white, .2), transparent);
    border-radius: 1px;
    box-shadow: $button-shadow;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    height: 22px;
  }
}


