
.switch-toggle {
  background-color: $white;
  border: 1px solid $accent-bg;
  border-radius: 2px;
  box-shadow: $button-shadow;

  label {
    color: $main-accent;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }

  input:checked + label {
    color: $white;
    text-shadow: none;
  }

  a {
    background-color: $accent-bg;
    background-image: linear-gradient(to bottom, rgba($white, .2), transparent);
    border-radius: 1px;
    box-shadow: $button-shadow;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    height: 22px;
  }
}


