
// Flipping in and out (to the left, or to the right)
@keyframes flipOutRight {
  to {
    opacity: .2;
    transform: translateZ(-1000px) rotateY(90deg);
  }
}

@keyframes flipInLeft {
  from {
    opacity: .2;
    transform: translateZ(-1000px) rotateY(-90deg);
  }
}

@keyframes flipOutLeft {
  to {
    opacity: .2;
    transform: translateZ(-1000px) rotateY(-90deg);
  }
}

@keyframes flipInRight {
  from {
    opacity: .2;
    transform: translateZ(-1000px) rotateY(90deg);
  }
}

// Sliding in and out (to the left, or to the right)
@keyframes slideInFromRight {
  from {
    opacity: .2;
    transform: translateX(100%);
  }
}

@keyframes slideOutToLeft {
  to {
    opacity: .2;
    transform: translateX(-100%);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: .2;
    transform: translateX(-100%);
  }
}

@keyframes slideOutToRight {
  to {
    opacity: .2;
    transform: translateX(100%);
  }
}


// a little wobbly bounce
@keyframes bounce {
  16.65% {
    transform: translateY(8px);
  }

  33.3% {
    transform: translateY(-6px);
  }

  49.95% {
    transform: translateY(4px);
  }

  66.6% {
    transform: translateY(-2px);
  }

  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

// a pulsing
@keyframes pulse {
  25% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(.8);
  }
}
