
// standards
$white: #fff;
$black: #000;
$gray: #909090;


$orange: #ed7d31;

// ul colours
$cardinal: #8c1515;
$ul-teal: #007c92;
$ul-green: #009b76;
$ul-dark-grey: #4d4f53;
$ul-blue: #0098d8;
$ul-gold: #eaab00;


$dark-blue: #2b3d50;
$light-blue: #a8d8eb;
$light-blue: mix($light-blue, $white, 80%);

// notifications
$green1: #8bc34a;
$green2: desaturate(darken($green1, 12), 10);  // formerly: #689f38;
$red1: #f44336;
$red2: desaturate(darken($red1, 20), 10);  // formerly: #d32f2f;
$yellow1: #ffdb5b;
$yellow2: desaturate(darken($yellow1, 20), 10);  // formerly: #edc242;
$blue1: #03a9f4;
$blue2: desaturate(darken($blue1, 20), 10);  // formerly: #0288d1;

// ui colours
$main-accent: $cardinal;
//$accent-bg: mix($main-accent, $white, 80%);
$accent-bg: $main-accent;
$accent-disabled: mix($main-accent, $gray, 50%);
$panel: #eff0f1;
$alert: #f00;
$invalid-warning: #f00;
$valid-confirmation: #008000;
$hover-highlight: $light-blue;
$pill-bg: #e4e4e4;
$pill-border: #ccc;


$font-header: 'Roboto Slab', serif;
$font-main: 'Roboto', sans-serif;


$button-shadow: 0 1px 2px 0 rgba($black, .24);

@mixin transform-vcenter {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
  @include transform-style(preserve-3d);
}




%clickable {
  cursor: pointer !important;
  transition: background-color .2s, color .2s;

  &:hover {
    background-color: $hover-highlight;
  }
}

%bg-overlay {
  background-image: linear-gradient(to bottom, rgba($white, .2), transparent);
}

%accent-bg {
  @extend %bg-overlay;
  background-color: $accent-bg;
}


// Material Design shadows
%shadow-z-1 { box-shadow: 0 1px 3px 0 rgba($black, .12), 0 1px 2px 0 rgba($black, .24); }
%shadow-z-2 { box-shadow: 0 7px 9px -4px rgba($black, .2), 0 14px 21px 2px rgba($black, .14), 0 5px 26px 4px rgba($black, .12); }

%animation-pulse {
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

%animation-bounce {
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}


// mixin for multiline ellipsis
// adapted from: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
@mixin multiline-ellipsis($line-height: 1.2em, $line-count: 1, $bg-color: $white) {
  overflow: hidden;
  position: relative;
  line-height: $line-height;
  max-height: $line-height * $line-count;
  text-align: justify;
  padding-right: 1em;

  &:before {
    bottom: 0;
    content: '...';
    position: absolute;
    right: 0;
  }

  &:after {
    background: $bg-color;
    content: '';
    height: 1em;
    margin-top: .2em;
    position: absolute;
    right: 0;
    width: 1em;
  }
}
