.homepage {
  background-color: $white;
  padding: 0;
  text-align: center;

  .main-image,
  .video {
    border-radius: 1%;
    width: 90%;
  }

  .main-image {
    @extend %shadow-z-1;
    display: block;
    margin: 0 auto;
    position: relative;
    transition: opacity 2s ease;
  }

  .video {
    height: 0;
    left: 5%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50.62%;  // (315 / 560) * 0.9 (because container width is 90%)
    position: absolute;
    top: 0;

    iframe {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 2s ease;
      width: 100%;
    }
  }

  .video-button {
    background: rgba(100, 100, 100, .6);
    border: 0;
    border-radius: 8px;
    bottom: 5%;
    color: $white;
    cursor: pointer;
    display: flex;
    font-family: $font-header;
    font-size: 24px;
    margin: 0;
    max-width: 84%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 8%;
    transition: opacity .5s ease;

    .title {
      flex: 1 1 auto;
      margin: 0;
      padding: 10px;
    }

    .pause,
    .play {
      background-color: rgba($cardinal, .8);
      flex: 0 1 96px;
      padding: 10px;
      transition: background-color .2s ease;
      white-space: nowrap;

      &::after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }

    &:hover,
    &:focus {
      .pause,
      .play {
        background-color: rgba($light-blue, .6);
      }
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

  }

  @media screen and (max-width: 1240px) {
    .video-button {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 760px) {

    .main-image,
    .video {
      width: 100%;
    }

    .video {
      left: 0;
      padding-bottom: 56.25%;  // (315 / 560)
    }

    .video-button {
      border-radius: .3em;
      font-size: 14px;
      left: 0;
      margin: 10px 0 0;
      max-width: 100%;
      position: relative;
      width: 100%;


      &.hide {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
