.homepage {
  background-color: $white;
  margin: -15px;
  padding: 15px 0;
  text-align: center;

  .main-image {
    filter: grayscale(1) brightness(.9) contrast(1.2);
    width: 90%;
    border-radius: 1%;
    // box-shadow: 0 0 2px $black;
    @extend %shadow-z-1;
  }

  .items {
    font-family: $font-header;
    font-size: 2em;
    min-height: 100px;
    padding: 1em 0 0;
    vertical-align: middle;

    > div {
      @extend %clickable;
    }

    img {
      margin-bottom: 8px;
    }
  }
}
