.evaluation {

  background: rgba($light-blue, .2);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @extend %shadow-z-1;
  margin: 1em 1%;
  padding: 10px;

  > header {
    background: $light-blue;
    line-height: 1.2em;
    padding: 4px 10px;
    font-size: 1.2em;

    > span {
      display: inline-block;
      height: 20px;

      &:first-child {
        font-weight: bold;
      }

      &.submitted-by {
        float: right;
      }
    }
  }

  article {
    margin: 12px 0 8px;

    > div {
      background: #eaeaea;
      border-radius: 5px;
      margin: 8px 4px 8px 0;
      padding: 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    header {
      font-weight: bold;
      margin: 4px 0;

      padding: 0;
      text-decoration: underline;

    }
  }

  .ui-star-rating {
    margin: 2px 0 8px;
  }


  &.mini-panel {
    height: 300px;

    article {
      overflow-y: scroll;
    }
  }

}
