.evaluation {

  background: rgba($light-blue, .2);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 10px;

  > header {
    background: $light-blue;
    line-height: 1.2em;
    padding: 4px 10px;
    font-size: 1.2em;

    > span {
      display: inline-block;
      height: 20px;

      &:first-child {
        font-weight: bold;
      }

      &.submitted-by {
        float: right;
      }
    }
  }

  article {
    margin: 12px 0 8px;

    ul {
      margin: 0 0 10px 35px;
      padding: 0;

      .value-stud {
        background-color: $white;

        span {
          background-color: $main-accent;
          border-radius: .8em 0 0 .8em;
          color: $white;
          display: inline-block;
          font-weight: bold;
          margin-left: -8px;
          margin-right: 4px;
          padding: 0 8px;
        }
      }
    }

    .handle {
      color: $main-accent;
      float: left;
      font-size: 18px;
      margin-left: 6px;
      margin-top: -32px;
    }

    .dimension {
      @extend %shadow-z-1;
      background: #fafafa;
      border-radius: 3px;
      margin: 8px 4px 8px 0;
      padding: 8px;

      &:first-child {
        margin-top: 0;
      }

    }

    header {
      font-weight: bold;
      margin: 4px 0;

      padding: 0;
      text-decoration: underline;

    }
  }

  .button-style.submit {
    font-size: 18px;
    width: 100%;
  }

  .ui-star-rating {
    margin: 2px 0 8px;

    // note: ui-star-rating has display: flex with flex-direction: row-reverse, so ::before comes ::after :)
    // &::before {
    //   content: attr(data-h-label);
    // }
  }


  &.mini-panel {
    //height: 300px;
    height: auto;
    width: 98%;

    // article {
    //   overflow-y: scroll;
    // }
  }

}
