.sample-view {

  .top {
    display: flex;

    > div:first-child {
      flex: 1 0 auto;
    }

    .recording {
      background: $light-blue;
      border-radius: 4px;
      flex: 1 0 300px;
      padding: 8px;

      span {
        color: rgba($black, .56);
        margin: 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      audio {
        text-shadow: none;
        width: 100%;
      }

    }

  }

  h2 { margin: 8px 0; }

  .context {
    margin: 4px 0;

    th {
      padding-top: 4px;
      vertical-align: top;
      width: 140px;
    }

    td {
      padding: 4px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .supporting-files {

      li {
        display: inline-block;
        margin: 0 8px;
      }

      a {
        text-decoration: none;

        &:before {
          content: '\f016';
          font-family: FontAwesome;
          margin-right: 8px;
        }

        &[href$=png],
        &[href$=jpg],
        &[href$=jpeg] {
          &:before {
            content: '\f1c5';
          }
        }
      }
    }
  }

  .transcription-participant {
    white-space: nowrap;
  }

  table.participants {
    td {
      // display: inline-flex;
    }
  }

  .transcription {
    display: table;
    width: 100%;

    td,
    th {
      border-bottom: 2px solid rgba($black, .12);
      height: 30px;
      padding: 4px 8px;
    }

    th {
      color: $main-accent;
      font-weight: 700;
      padding: 0 8px;
      text-align: right;
      text-shadow: 0 1px 0 $white;
      vertical-align: top;
      width: 30px;
    }

    td {
      text-align: left;
      vertical-align: top;
    }

    tr {
      transition: background .4s ease;
    }

    .highlight {
      @extend %bg-overlay;
      background-color: $light-blue;
    }
  }

  .sample-permalink {
    float: left;
    font-size: 24px;
    margin: 10px 10px 10px 0;
  }

}

.participant-languages {
  display: inline-block;
  margin: 0;
  padding: 0;

}

.evaluations-browser {
  position: relative;

  .pagination {
    position: absolute;
    right: 30px;
    top: -30px;
  }
}
