
.sample-entry {

  > div {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;

    > div {
      float: left;
      position: relative;
      width: 100%;
    }

    > div:nth-child(2) {
      position: absolute;
    }
  }

  .switch-toggle label {
    font-size: 14px;
  }

  h3 {
    @extend %accent-bg;
    border-bottom: 3px $main-accent solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px 0 rgba($black, .12), 0 1px 2px 0 rgba($black, .24);
    color: $white;
    margin: 20px 5% -20px;
    padding: 8px 16px;
    text-shadow: none;
  }

  .step-buttons {
    margin: 10px 1% 0;
    text-align: right;

    .button-style {
      background: mix($accent-bg, $white, 20%);
      color: $main-accent;
      font-size: 14px;

      &:hover {
        background: $light-blue;
        color: $white;
      }
    }
  }

  .lang-usage-row {
    height: 45px;

    button {
      height: 30px;
    }

    > :first-child {
      text-align: center;
    }

    > :nth-child(2) {
      padding-right: 8px;
      padding-top: 4px;
    }

    > :last-child {
      border-bottom: 1px solid rgba($black, .2);
      padding-top: 5px;
      position: relative;

      &::after {
        @extend %animation-pulse;
        color: $valid-confirmation;
        content: '\f00c';  // fa-exclamation-triangle
        font: normal normal normal 18px/1 FontAwesome;
        opacity: 0;
        position: absolute;
        right: 8px;
        top: 8px;
        transition: opacity .5s ease;
      }

      &.invalid::after {
        @extend %animation-bounce;
        color: $invalid-warning;
        content: '\f071';  // fa-exclamation-triangle
        opacity: 1;
        transition: opacity .1s;
      }
    }
  }

  .participants-table {
    width: 100%;

    th {
      padding: 0 4px;
    }

    td {
      padding: 0 2px;
      font-size: 14px;
    }

    .alert {
      padding-left: 20px;
      transition: all .2s ease;

      &.hidden {
        font-size: 0;
        height: 0;
      }
    }

    tbody.ng-invalid.ng-touched {
     .alert { color: $invalid-warning; font-weight: bold;}
    }


    .input-field > input {
      font-size: 14px;
    }

    .remove {
      text-align: center;
      padding: 0;
      width: 10px;
    }

    .avatar {
      width: 60px;
    }

    .nickname {
      min-width: 200px;
    }

    .languages {
      width: 100%;
    }

    .gender {
      select {
        width: 100%;
      }
    }

    .grade-level {
      min-width: 160px;
    }

    li {
      cursor: pointer;

      &:after {
        font: normal normal normal 14px/1 FontAwesome;
      }

      &.valid:after {
        color: $valid-confirmation;
        // content: '\f058';  // fa-check-circle
        content: '\f00c';  // fa-check
      }

      &.select2-selection__choice:not(.valid):after {
        color: $invalid-warning;
        // content: '\f06a';  // fa-exclamation-circle
        content: '\f071';  // fa-exclamation-triangle
      }
    }

    td.ng-touched.ng-invalid {
      li.select2-selection__choice:not(.valid) {
        @extend %animation-bounce;
        color: $invalid-warning;
      }
    }

    .switch-toggle {
      max-width: 100px;
    }
  }

  .actions {
    margin-top: 20px;
    text-align: right;
  }

  .transcription {
    table-layout: fixed;
    width: 100%;

    td {
      border-bottom: 0;
      vertical-align: middle;
    }

    .remove-turn { width: 40px; }
    .turn-num { width: 40px; }
    .speaker { width: 150px; }
    .turn {}

    .turn-participant {
      width: 100%;
    }
  }

}

.language-skill-panel {
  background: mix($light-blue, $white, 50%);
  font-size: 14px;
  padding: 5px 20px !important;
  max-width: 470px;

  .toggle-container {
    border: 1px solid $gray;
    line-height: 24px;
    margin-top: 10px;
    overflow: visible;
    padding: 4px 8px;
  }

  .standards {

    p {
      margin: 10px 0 0;
    }

    > div {
      display: flex;

      button {
        flex: 0 0 auto;
        margin-top: 6px;
      }

      > div {
        flex: 1 0 auto;

        > div {
          display: flex;
        }
      }

      .input-field {
        flex: 1 0 auto;
        margin-bottom: 0;
        padding: 0 10px;

        select {
          width: 100%;
        }
      }

      .remove {
        flex: 0 0 auto;
      }
    }

  }
}

.language-skill {
  border: 1px solid $gray;
  padding: 4px 8px;
  width: 100%;

  th {
    color: $gray;
    font-weight: normal;
    width: 95px;

    &.active {
      border-color: $main-accent;
      color: $main-accent;
    }

    i {
      transform: translateZ(0);

      &.fa-check-circle {
        @extend %animation-bounce;
        color: $valid-confirmation;
      }

      &.fa-exclamation-circle {
        @extend %animation-pulse;
        color: $invalid-warning;
      }
    }
  }

  td {
    height: 45px;
    padding-top: 10px;

    &:last-child {
      padding: 0;
      width: 20px;
    }
  }
}

.supporting-files {

  .no-supporting-files {
    color: $gray;
  }

  input[type='file'] {
    display: none;
  }

  .remove {
    line-height: 32px;
    text-align: center;
  }

  .filename {
    line-height: 32px;
    position: relative;  // needed for toolips on the span

    span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  .input-field {
    margin-bottom: 0;
    padding: 0 20px;
  }
}

.add-multiple {

  display: flex;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($black, .24);
    margin-bottom: 20px;
  }

  label {
    color: rgba($black, .5);
    position: absolute;
    top: 0;

    &.focussed {
      color: $main-accent;
      font-weight: bold;
    }
  }

  > div {
    display: inline-block;

    &.buttons {
      width: 140px;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  button.button-style {
    margin: 4px auto 0;
    text-align: left;
    width: 90%;
  }
}

.recording-upload {

  display: flex;
  position: relative;
  padding: 20px;
  background: mix($light-blue, $white, 50%);
  border-radius: 8px;
  margin-bottom: 20px;

  > div:first-child {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .buttons {
    display: inline-block;
    flex: 0 0 auto;
    text-align: right;
    width: 140px;
  }

  .button-style {
    margin: 4px auto 0;
    text-align: left;
    width: 90%;
  }

  .recording {
    align-items: center;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $main-accent;
    display: flex;
    margin: 4px 0 8px 0;
    padding: 0 4px;

    button {
      margin: -2px 2px 0 0;
    }
  }

  .recording-title {
    flex: 1 1;
    margin: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .no-audio-available {
    margin-bottom: 10px;

    input[type='checkbox'] {
      margin-right: 8px;
    }
  }

  .input-field {
    margin-bottom: 0;
  }

  input[type='file'] {
    display: none;
  }

  &.ng-touched.ng-invalid {
    color: $invalid-warning;
    font-weight: bold;
  }
}

.few-turns {
  overflow: hidden;
  transition: height .2s ease;
}

.ng-touched.ng-invalid {
  .few-turns {
    color: $invalid-warning;
  }
}



.notification-content {
  ul {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
  }
}

@mixin mark-color($color) {
  background: rgba($color, .2);
  border-color: $color;
}

ui-turn-editor.ng-touched.ng-invalid {
  .editable {
    @extend %md-input-invalid;
  }
}

.ui-turn-editor {
  font-size: 14px;

  .editable {
    @extend %md-input;
    height: 32px;
    line-height: 31px;
    margin: 0;
    padding: 0;

    mark {
      border-style: solid none;
      border-width: 1px;
      position: relative;
    }

    .reading {
      @include mark-color(green);

      // &::before {
      //   content: "\f10d"; // "\f104";
      //   font: normal normal normal 14px/1 FontAwesome;
      // }

      // &::after {
      //   content: "\f10e"; // "\f105";
      //   font: normal normal normal 14px/1 FontAwesome;
      // }
    }

    .sentence-frame {
      @include mark-color(blue);
    }

    i {

      &::before {
        color: purple;
        font-weight: bold;
        display: inline-block;
        margin: 0 4px;
        padding: 2px;

      }
    }


  }
}
