
html.site {
  overflow-y: scroll;

  body:before {
    box-shadow: 0 0 10px rgba($black, .8);
    content: '';
    height: 10px;
    left: 0;
    position: fixed;
    top: -10px;
    width: 100%;
    z-index: 100;
  }
}

body {
  background-color: transparent;
  color: rgba($black, .8);
  font-family: $font-main;
}

.center-fix {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  color: $main-accent;
  font-family: $font-header;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: -2em;
  -webkit-text-decoration: underline dotted rgba($black, .4);
  text-decoration: underline dotted rgba($black, .4);
  width: 100%;
}

.main-spinner {
  color: $main-accent;
  font-size: 5em;
  margin-left: -.5em;
}

.page-header,
.page-content,
footer {
  @include border-radius(.3em);
  margin: 15px auto 0;
  max-width: 1400px;
  padding: 5px 15px 0;
}

.page-header {

  align-items: center;
  display: flex;

  .slr-logo { flex: 0; }
  > div:last-child { flex: 1 0 auto; margin-left: 20px; }

  h1 {
    font-family: $font-header;
    font-size: 3em;
    margin: 0 350px 10px 0;

    a {
      text-decoration: none;
    }
  }

  nav {
    margin-right: 350px;
  }

  .ulo-logo {
    float: right;
    margin-top: -55px;

    img {
      height: 55px;
    }
  }
}

.page-content {
  background: $panel;
  min-height: 300px;
  overflow: auto;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 $white;
  overflow: hidden;

  > * {
    text-align: initial;
  }
}


// menu
nav {
  ul {
    @extend %button-bar;
  }
}

.login-status {
  float: right;
  margin-top: -25px;
}


.panel {
  @extend %shadow-z-1;
  background: $white;
  display: inline-block;
  margin: 20px 5%;
  padding: 20px;
  width: 90%;
}

.mini-panel {
  @extend %shadow-z-1;
  background: $white;
  display: block;
  float: left;
  font-size: .9em;
  height: 180px;
  margin: 1em 1%;
  padding: 10px;
  width: 48%;

  td {
    text-align: center;
    white-space: nowrap;
  }

  .context {
    @include multiline-ellipsis($line-height: 1.2em, $line-count: 4, $bg-color: $white);
  }

  hr {
    margin: 0;
  }

}

.submission-details {
  font-size: .9em;

  a,
  span {
    color: $main-accent;
    font-weight: bold;
  }
}

footer {
  background-color: #e3dfd5;
  color: $cardinal;
  font-family: 'Source Sans Pro',Helvetica,Arial,Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;

  a {
    color: $cardinal;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    height: 50px;
    width: 113px;
  }

  ul,
  p {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
  }

  #bottom-logo {
    text-align: center;
  }
}

// see src/lib/browser-update.js and https://browser-update.org/
.buorg {
  font-family: $font-main !important;
}


.about {

  padding: 20px 60px;

  p, li {
    line-height: 1.4em;
  }

  li {
    margin-bottom: 10px;
  }

  h2, h3 {
    color: $cardinal;
    font-family: $font-header;
  }

  em {
    font-style: normal;
    font-family: $font-header;
    font-weight: bold;
  }


}
